In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
from first_stage_func import first_stage

In [36]:
startdate = 0
enddate = 90
# autumn around 90 days, for simplicity

In [37]:
stations = pd.read_csv('datasets/station_with_demand.csv')

stations['current_bikes'] =0

In [38]:

demand_cat = ['Highest', 'Medium', 'Low', 'Lowest']

In [39]:
manhatten_bike_fleet = int(662/1915 * 37369)

In [40]:
daily_log = {}

In [41]:
stations

,station_id,station_name,capacity,lng,lat,MEAN_WEEKLY_TRIPS,NORMALISED_CAPACITY,DEMAND_SCORE,DEMAND_CATEGORY,current_bikes
0,5772.05,Morton St & Greenwich St,56,-74.008870,40.731150,0,0.441667,0.000000,Lowest,0
1,6560.15,Broadway & W 38 St,68,-73.987349,40.752973,511,0.541667,234.719333,Low,0
2,7727.07,Amsterdam Ave & W 119 St,29,-73.959621,40.808625,0,0.216667,0.000000,Lowest,0
3,6569.08,W 35 St & Dyer Ave,41,-73.997402,40.754692,206,0.316667,140.972667,Low,0
4,7023.04,W 59 St & 10 Ave,117,-73.988038,40.770513,341,0.950000,17.391000,Lowest,0
...,...,...,...,...,...,...,...,...,...,...
657,8416.10,W 186 St & St Nicholas Ave,26,-73.931308,40.852253,8,0.191667,6.474667,Lowest,0
658,4846.01,South St & Whitehall St,55,-74.012342,40.701221,313,0.433333,177.679667,Low,0
659,6890.01,W 53 St & 10 Ave,29,-73.990617,40.766697,424,0.216667,332.557333,Medium,0
660,6483.06,W 36 St & 7 Ave,38,-73.989539,40.752149,173,0.291667,122.714667,Low,0
661,6257.06,W 27 St & 7 Ave,75,-73.993920,40.746650,0,0.600000,0.000000,Lowest,0

In [42]:

while startdate < enddate:
    
    bike_limit = manhatten_bike_fleet

    for i, row in stations.iterrows():
        
        random_factor = random.randint(0,1000)
        
        # Random current bikes in station
        limit = min(stations.iloc[i]['capacity'], bike_limit)
        currentBikes = random.randint(0, int(0.2*limit))
        stations.at[i,'current_bikes'] = currentBikes
        bike_limit -= currentBikes
        
        # Random demand of station
        current_demand_cat = demand_cat.index(stations.iloc[i]['DEMAND_CATEGORY'])
        if random_factor < 50 and current_demand_cat != 3:
            stations.at[i,'DEMAND_CATEGORY'] = demand_cat[current_demand_cat + 1]
            
        elif random_factor> 950 and current_demand_cat != 0:
            stations.at[i,'DEMAND_CATEGORY'] = demand_cat[current_demand_cat - 1]

    if bike_limit > 0:
        while bike_limit > 0:
            i = random.randint(0, len(stations) - 1)
            limit = min(stations.iloc[i]['capacity'], bike_limit) 
            current_random = stations.iloc[i]['current_bikes']
            current_available = int(limit - current_random)
            if current_available <= 0:
                continue
            to_fill = random.randint(0, current_available)
            stations.at[i,'current_bikes'] += to_fill
            bike_limit -= to_fill
    
    if startdate % 7 == 0:
        net_benefits, toRedistribute, allocation = first_stage(stations)
        
        if toRedistribute:
            stations['current_bikes'] = allocation
        daily_log[startdate] = net_benefits
        
    # else:
    #     continue   
        #second stage code
    
    startdate += 1

startdate =0

In [43]:
stations

,station_id,station_name,capacity,lng,lat,MEAN_WEEKLY_TRIPS,NORMALISED_CAPACITY,DEMAND_SCORE,DEMAND_CATEGORY,current_bikes
0,5772.05,Morton St & Greenwich St,56,-74.008870,40.731150,0,0.441667,0.000000,Lowest,21.0
1,6560.15,Broadway & W 38 St,68,-73.987349,40.752973,511,0.541667,234.719333,Highest,39.0
2,7727.07,Amsterdam Ave & W 119 St,29,-73.959621,40.808625,0,0.216667,0.000000,Lowest,12.0
3,6569.08,W 35 St & Dyer Ave,41,-73.997402,40.754692,206,0.316667,140.972667,Highest,7.0
4,7023.04,W 59 St & 10 Ave,117,-73.988038,40.770513,341,0.950000,17.391000,Low,32.0
...,...,...,...,...,...,...,...,...,...,...
657,8416.10,W 186 St & St Nicholas Ave,26,-73.931308,40.852253,8,0.191667,6.474667,Low,23.0
658,4846.01,South St & Whitehall St,55,-74.012342,40.701221,313,0.433333,177.679667,Low,51.0
659,6890.01,W 53 St & 10 Ave,29,-73.990617,40.766697,424,0.216667,332.557333,Lowest,5.0
660,6483.06,W 36 St & 7 Ave,38,-73.989539,40.752149,173,0.291667,122.714667,Highest,38.0
661,6257.06,W 27 St & 7 Ave,75,-73.993920,40.746650,0,0.600000,0.000000,Lowest,75.0

In [44]:
print(daily_log)

{0: 99995.84000000003, 7: 99981.33000000003, 14: 99971.21999999993, 21: 99996.44999999997, 28: 99994.53000000004, 35: 99983.45999999992, 42: 99979.97999999995, 49: 99967.64999999992, 56: 99993.83999999995, 63: 99997.2799999999, 70: 99994.08999999998, 77: 99973.73999999996, 84: 99968.10000000003}